.env

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
.venv/
venv/

# Environment variables
.env

# VS Code settings
.vscode/
*.code-workspace

# Logs & temp files
*.log
*.tmp

# OS files
.DS_Store
Thumbs.db
